@model IEnumerable<Library_Management_System.Models.BookCategory>

@{
    ViewBag.Title = "All Categories > Book Configuration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.ActionLink("Add New Category", "Create", null, new { @class = "btn btn-success" })

<hr>

<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Category List</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Category ID</th>
                        <th>Category Name</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CategoryID)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CategoryName)
                            </td>
                            <td>
                                @Html.ActionLink("Edit", "Edit", new { id = item.CategoryID }, new { @class = "btn btn-success" })
                                @Html.ActionLink("Details", "Details", new { id = item.CategoryID }, new { @class = "btn btn-info" })
                                @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID }, new { @class = "btn btn-danger" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
